@import '../../utils/names_variables.scss';

.card {
    position: relative;
    width: 100%;
    border: solid 1px $fifth-color;
    overflow: hidden;
    border-radius: 25px;
    z-index: 1000;
    box-shadow: 0px 0px 15px 5px $second-color;

    :hover {
        z-index: 500;
        background: rgb(0, 0, 0, 0.9);
        opacity: 0.2;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
    }
    :hover~ul{
        display: flex;
    }
    img {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        border: solid 1px white;
        object-fit: cover;
    }

   h2{
        position: absolute;
        width: 88%;
        left: 6%;
        font-weight: 700;
        font-size: 18px;
        color: white;
        margin: 0;
        text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
        bottom: 2.5%;
    }
    ul {
        z-index: 1;
        margin: 0;
        padding: 0;
        padding-top: 25px;
        width: 100%;
        display: none;
        position: absolute;
        list-style-type: none;
        color: $fifth-color;
        flex-direction: column;
        gap: 10px;
        align-items: center;
         li{
            padding: 2px 5px 2px 5px;
            border: solid 1px $fifth-color;
            border-radius: 5px;
         }
    }
    h3 {
        z-index: 1;
        margin: 0;
        align-self: center;
        left: 5%;
        width: 90%;
        display: none;
        position: absolute;
        color: $fifth-color;
        top: 50%;
        text-align: center;
    }
    :hover~h3{
        display: block;
        text-align: center;
    }
}
@include phone{
    .card{
       
        h1{
            font-size: 20px;
            z-index: 1000;
        }
        img{
            z-index: 0;
            background: rgb(0, 0, 0, 0.9);
            opacity: 0.2;
        }
        h2{
            font-size: 14px;
            z-index: 1000;
        }
        ul{
            display: flex;
            font-size: 10px;
            flex-direction: row;
            justify-content: space-evenly;
            z-index: 1000;
        }
        h3{
            display: block;
            font-size: 10px;
            z-index: 1000;
            text-shadow: 0.2px 0 0 #000, 0 -0.2px 0 #000, 0 0.2px 0 #000, -0.2px 0 0 #000;
        }
    }
}
@include tablet{
    .card{
        h1{
            font-size: 30px;
            z-index: 1000;
        }
        img{
            z-index: 0;
            background: rgb(0, 0, 0, 0.9);
            opacity: 0.2;
        }
        h2{
            font-size: 25px;
            z-index: 1000;
        }
        ul{
            flex-wrap: wrap;
            display: flex;
            font-size: 18px;
            flex-direction: row;
            justify-content: space-evenly;
            z-index: 1000;
        }
        h3{
            display: block;
            font-size: 18px;
            z-index: 1000;
            text-shadow: 0.2px 0 0 #000, 0 -0.2px 0 #000, 0 0.2px 0 #000, -0.2px 0 0 #000;
        }
    }
}

