@import "../../utils/names_variables.scss";

#dropdown {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: $first-color;
    color: $fifth-color;
    border: none;
    option {
        font-family: "Orbitron", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        color: $fifth-color;
    }
    option:hover{
        color: $third-color;
        background-color: red;

    }
}
#dropdown:hover{
    color: $third-color;
}
