@import '../../utils/names_variables.scss';
.mainProjects{
    height: 75% !important;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    box-sizing: border-box;  
}
@include phone{
    .mainProjects{
        grid-template-columns: 1fr;
        gap: 2%;
    }
}